{% extends "header.html" %}
{% block content %}
<html>
<body>
	<h1 align="center">About Pigeon</h1>
	<p style="padding: 0 40px; font-size: 18px">Pigeon Ridesharing is a long-distance carpool matching service that places college students in carpools together based on their destinations.</p>
	<p style="padding: 0 40px; font-size: 18px">Currently, we operate on Colgate University's campus helping students find transportation home for major breaks and holidays.</p>
	<h2 align="center">How it works</h2>
	<ul>
		<li style="padding: 0 40px; font-size: 18px">Students at your college list their trip details with us.</li>
		<li style="padding: 0 40px; font-size: 18px">You request the ride you want through our online platform.</li>
		<li style="padding: 0 40px; font-size: 18px">We connect you with the driver so you can negotiate the terms of the ride with them directly.</li>
	</ul>
</body>
</html>
{% endblock %}