{% extends "header.html" %}
{% block content %}
<html>
<!--url("https://s23.postimg.org/j4x6n4fmj/Screen_Shot_2017_01_13_at_9_52_15_PM.png")-->
<style>
    body {
        background:white url(/static/home/img/homepage.png) no-repeat right top;
		background-size:cover;
}
</style>
<body>
	<br>
	<br>
	<br>
	<div class="col-md-6 col-md-offset-0" style="background-color:rgba(255,255,255,0.3); padding-left: 5%">
		<br>
		<h1 style="color:white;font-family:Verdana">College Carpooling</h1>
		<h5 style="color:white;font-family:Verdana">A safe and easy way to carpool home. <BR> Share empty seats with friendly schoolmates going in your direction.</h5>
		<br>
		<br>
		<br>
		<div class="row">

			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-xl" style=" border-color: rgb(2,132,69); background-color: rgb(2,132,69); color: rgb(246,246,247); font-family: Verdana;font-size: large" onclick="window.location.href='{% url 'ridesharing:ride-add' %}'">List a ride</button>
			</div>
			<div class="divider"></div>
			<div class="divider"></div>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-xl" style=" border-color: rgb(2,132,69); background-color: rgb(2,132,69); color: rgb(246,246,247); font-family: Verdana;font-size: large" onclick="window.location.href='{% url 'ridesharing:ride-list' %}'">Find a ride</button>
			</div>
		</div>
		<br>
		<br>
		<br>
	</div>
</body>
</html>
{% endblock %}