{% extends "header.html" %}
{% block content %}
<html>
<!--url("https://s23.postimg.org/j4x6n4fmj/Screen_Shot_2017_01_13_at_9_52_15_PM.png")-->
<style>
    body {
        background:white url(/static/home/img/homepage.png) no-repeat right top;
		background-size:cover;
}
</style>
<body>
	<br>
	<br>
	<br>
	<!--<div class="col-md-5 col-md-offset-0" style="background-color:#E9C893; height:10px; margin-bottom:-11px"></div>-->
<br>
	<div class="col-md-5 col-md-offset-0" style="background-color:rgb(248,248,249); padding:5%; margin-top:-11px">
		<h1 class="green_font" style="margin-top:0px;"><b>COLLEGE CARPOOLING</b></h1>
		<p class="green_font" style="letter-spacing:1.5px;">A SAFE AND EASY WAY TO CARPOOL HOME. <BR>
			<!--<br> Share empty seats with friendly schoolmates going in your direction.-->
		</p>
		<br>
		<div>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-xl green_button" style="font-size: large" onclick="window.location.href='{% url 'ridesharing:ride-add' %}'">List a ride</button>
			</div>
			<div class="divider"></div>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-xl green_button" style="font-size: large" onclick="window.location.href='{% url 'ridesharing:ride-list' %}'">Find a ride</button>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}