{% extends "ridesharing/header.html" %}
{% block content %}
	<form method='GET' action="{% url 'ridesharing:ride-request' %}">
		{% csrf_token %}
		{% for ride in object_list %}

			<label name="ride_{{ride.id}}_label"  class="control-label">
					<h5>Destination: {{ ride.destination }} <br/>
					Date and time of departure: {{ ride.date|date:"M d, Y"}} <br/>
					Seats available: {{ ride.seats_available }} <br/>
					id: {{ ride.id }} <br/>
					</h5>
					<button type="submit" class="btn btn-default" name="request-ride-btn" value="{{ride.id}}">
						Request Ride
					</button>
			</label>

			<!--<h5>Destination: {{ ride.destination }} <br/>-->
				<!--Date and time of departure: {{ ride.date|date:"M d, Y"}} <br/>-->
				<!--Seats available: {{ ride.seats_available }} <br/>-->
				<!--</h5>-->
				<!--<input type='submit' value='Request Ride'/>-->
		{% endfor %}
	</form>

{% endblock %}