{% extends "header.html" %}
{% block content %}
<style>
    body {
        background: white url(/static/home/img/greenpattern.png) left top;
    }
</style>
<div style="width: 100%; padding-left: 5%; padding-right:5%;">
    <form method="GET" action="" class="form-container">
        <div class="flex-container wrap" style="width: 100%;">
            <li class="col-sm-3 flex-item" style="padding:0; margin:2%">
                        <input class="form-control" id="origin_search" name="origin_search" placeholder="Origin" type="text">

            </li>
            <li class="flex-item col-sm-3 " style="padding:0; margin:2%">
                        <input class="form-control" id="destination_search" name="destination_search" placeholder="Destination" type="text">

            </li>
            <li class="col-sm-3 flex-item" style="padding:0; margin:2%">
                        <input class="form-control date-picker" id="date-picker" name="date_search" placeholder="Date" type="text">
            </li>
            <li class="col-sm-1 flex-item" style="padding:0; margin:2%">
                        <button type="submit" class="btn green_button" name="request-ride-btn" value="{{ride.id}}">
                Search
            </button>
            </li>
        </div>

    </form>

    <h1>Available Rides</h1>
    <form method='GET' action="{% url 'ridesharing:ride-request' %}">
        {% csrf_token %}
        {% for ride in object_list %}

        <label name="ride_{{ride.id}}_label" class="ride-container flex-container wrap" style="vertical-align: baseline">
            <div class="ride-location-container col-sm-3 flex-item">

                    {{ ride.origin }} &#x2192 {{ ride.destination }}

            </div>
            <div class="ride-time-container col-sm-2 flex-item" style="vertical-align: baseline">
                    {{ ride.date|date:"M d, Y"}} {{ride.date.time}}
            </div>
            <div class="col-sm-2 flex-item ride-passengers-container" style="vertical-align: baseline">
                     <!--<small style="vertical-align: bottom; display:inline-flex; margin: 0">seats available</small> <br/></h1>-->
                    {{ ride.seats_available }} Seats Available
            </div>
            <div class="ride-request-button-container  col-sm-2 flex-item" style="vertical-align: baseline">
            <button type="submit" class="btn green_button" name="request-ride-btn" value="{{ride.id}}" style="width:100%; height: 100%;">
                Request Ride
            </button>
            </div>
        </label>

        <!--<h5>Destination: {{ ride.destination }} <br/>-->
        <!--Date and time of departure: {{ ride.date|date:"M d, Y"}} <br/>-->
        <!--Seats available: {{ ride.seats_available }} <br/>-->
        <!--</h5>-->
        <!--<input type='submit' value='Request Ride'/>-->
        {% endfor %}
    </form>
</div>

{% endblock %}