{% extends "header.html" %}
{% block content %}
<!--This is the script for hiding and showing destination and origin depending on the clicking of radio
buttons-->
<script>
	window.onload = loadOriginOrDestination;
	//this function is called when a input of type radio with the name direction changes value
	$(document).ready(function(){
		$('input[type="radio"][name="direction"]').on('change',function(){
//		var ThisIt = $(this);

		//if the button radio button being checked is the destination button
		if(document.getElementById('id_direction_0').checked){
		   // when is leaving from colgate
			//hide the origin and show the destination
		   $('#origin_contents').hide();
		   $('#destination_contents').show();
		   $("[name='destination']").val($("[name='origin']").val());
		   $("[name='origin']").val("");
		}else if(document.getElementById('id_direction_1').checked){
		   // when is going to colgate
		    $('#origin_contents').show();
		    $('#destination_contents').hide();
			$("[name='origin']").val($("[name='destination']").val());
			$("[name='destination']").val("");
		}
		});
	});

	//this function will be called once all the html has been loaded
	//it will show or hide the destination or origin depending on
	//which value was selected.
	function loadOriginOrDestination(){
		//if the button radio button being checked is the destination button
		if(!document.getElementById('id_direction_0').checked && !document.getElementById('id_direction_1').checked){
		    document.getElementById('id_direction_0').checked = true;
		}
		else if(document.getElementById('id_direction_0').checked){
		   // when is leaving from colgate
			//hide the origin and show the destination
		   $('#origin_contents').hide();
		   $('#destination_contents').show();
		}else if(document.getElementById('id_direction_1').checked){
		   // when is going to colgate
		    $('#origin_contents').show();
		    $('#destination_contents').hide();
		}

	}

</script>
<html>
<body>
	<h1>List Ride</h1>
		<h4> Please list the details of your trip here if you are interested in being matched up with one or more passengers. <br>
			<br>
			You will be compensated the following amount (per passenger) depending on your destination: <br>
			20$ - Syracuse Airport/Utica Train station <br>
			40$ - Greater New York City Area/Philadelphia/Greater Boston Area <br>
			<br>
			NOTE: While we will try our best to match you up with a passenger, we cannot guarantee that we will find you one.
		</h4>
	<form method='POST' action='' class="col-md-6 col-md-offset-7" style="background-color: lightgreen; border-radius: 10px">
		{% csrf_token %}
		{{form.id}}
		{{form.non_field_errors}}
		<br>
		<div class="row">
				<div class="col-md-6">
					{{form.first_name.errors.as_text}}
					{{form.first_name}}
				</div>
				<div class="col-md-6">
					{{form.last_name.errors.as_text}}
					{{form.last_name}}
				</div>
			</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				{{form.email_address.errors.as_text}}
				{{form.email_address}}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				{{form.phone_number.errors.as_text}}
				{{form.phone_number}}
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-12">
				{{form.direction}}
				<div id="origin_contents">
					{{form.origin.errors.as_text}}
					{{form.origin}}
					<input readonly type="text" class="form-control" name="destination_readonly" maxlength="10" value="Colgate">
				</div>
				<div id="destination_contents">
					<input readonly type="text" class="form-control" name="origin_readonly" maxlength="10" value="Colgate">
					{{form.destination.errors.as_text}}
					{{form.destination}}
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				{{form.seats_available.errors.as_text}}
				{{form.seats_available}}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				{{form.date.errors.as_text}}
				{{form.date}}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-0">
				<button type='submit' style ='background-color: #2ba6cb;' name="my_real_submit_button" class="btn btn-default" value='Create Ride'>
					Create Ride
				</button>
			</div>
		</div>
		<br>

	</form>
</body>
</html>
{% endblock %}