{% extends "header.html" %}
{% block content %}
<div style="padding-left: 5%; padding-right: 5%; padding-bottom:5%;">
    <h2><b></b>Legal</h2>
    <b>Terms of Use</b> <br>
    Effective: March 1, 2017<br>
    <p>
        <b>1. Contractual Relationship</b><br>
        By accessing or using Pigeon Carpooling (“Pigeon”), you agree that as a user of Pigeon, whether as a driver or as a passenger (“User”), to be bound by these Terms of Use (“Terms”). If you do not agree to these Terms, you may not access or use the Services, as defined below. These Terms expressly supersede prior agreements or arrangements with you. Pigeon may immediately terminate these Terms or any Services with respect to you, or generally cease offering or deny access to the Services or any portion thereof, at any time for any reason.
        Pigeon may amend the Terms from time to time. Amendments will be effective upon Pigeon posting such updated Terms at this location or in the amended policies or supplemental terms on the applicable Service(s). Your continued access or use of the Services after such posting confirms your consent to be bound by the Terms, as amended. If Pigeon changes these Terms after the date you first agreed to the Terms (or to any subsequent changes to these Terms), you may reject any such change by providing Pigeon a written notice of rejection within 30 days of the date such change became effective, as indicated in the "Effective" date above.
    </p>
    <br>
    <p>
        <b>2. The Services</b><br>
        The Services comprise of mobile applications and online access via the Pigeon website (ridepigeon.com), which matches Users by enabling Users to arrange and schedule transportation and logistics between Users.  The Services are made available solely for your personal, noncommercial use.  You acknowledge that your use of the Services does not establish Pigeon as a provider of transportation, logistics or delivery services or as a transportation carrier.
        <br>
        <br>
        Pigeon operates on Colgate University’s campus by running advertising campaigns and promoting brand awareness to the community.  Business will be promoted in forms of posters and using the kiosk at the COOP.
        <br>
        <br>
        Pigeon takes full responsibility for its brand and all aspects of operations on Colgate University’s campus.
        <br>
        <br>
        Pigeon agrees to indemnify, defend and hold harmless Colgate University, its officers, employees and agents, against all claims, costs and liabilities incurred in connection with any injury or damage caused to any person or property arising as a result of its operations on the campus of Colgate University.
    <br>
    <p>
        <b>3. Disclaimers; Limitation of Liability</b><br>
        Pigeon does not warranty or guarantee the quality, suitability, reliability, availability, or safety of the ride that is negotiated and agreed to using Pigeon.  Pigeon does not warranty or guarantee the Users’ driving abilities, driving record, or insurance status.  You agree that the entire risk arising out of your use of Pigeon, and any Service requested, remain solely with you.
    </p>
    <p>
    Pigeon shall not be liable for delay or failure in performance of Services resulting from causes beyond Pigeon’s reasonable control. Pigeon shall not be liable for any direct, indirect, incidental, special, exemplary, punitive, or consequential damages or losses, to Users of Pigeon’s Services, including, personal injury, loss of property, or property damage related to, in connection with, or otherwise arising from any use of Pigeon’s Services, regardless of the negligence of Pigeon, even if Pigeon has been advised of the possibility of such damages. Pigeon shall not be liable for any direct, indirect, incidental, special, exemplary, punitive, or consequential damages or losses for any third party that may be injured or damaged in connection with or otherwise arising from any use of Pigeon’s Services.
    You acknowledge that Pigeon provides transportation services through peer-to-peer interaction and drivers may not be professionally licensed, insured, or permitted.
    </p>
</div>

{% endblock %}