.divider{
    width:50px;
    height:auto;
    display:inline-block;
}

.btn-xl {
    margin-top: 10px;
    padding: 10px 40px;
    width:100%;
}

#origin_contents{
    display : none;
}

#destination_contents{
    /*display : none;*/
}

