.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.btn-xl {
    margin-top: 10px;
    padding: 10px 40px;
    width:100%;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

