.divider{
    width:50px;
    height:auto;
    display:inline-block;
}

.btn-xl {
    margin-top: 10px;
    padding: 10px 40px;
}



.navbar{
    border-radius:0;
    background-color: rgb(255, 255, 255);
    border: 10px;
    border-color: #3c3c3c;
}

.container-fluid{
    padding-right:0;
    padding-left:0;
}

.navbar-nav{
    margin: 10px;
    font-size: 16px;
}
#origin_contents{
    display : none;
}

#destination_contents{
    /*display : none;*/
}

/*The dark green font*/
.green_font{
    color: #1E392A;
}

/*The regular green button*/
.green_button{
    margin:0;
    background-color: #3CC47C;
    border:0;
    color: #ffffff;
}

/*this is the white box around the forms*/
.form-container{
    background-color: #FFFFFF;
}

/*This is what holds the rides in the ride list page*/
.ride-container{
        display:inline-flex;

    background-color: #FFFFFF;
    margin:10px;
    width:95%;
}

.ride-location-container{
    display:inline-flex;
    margin:0;
    font-size: large;
    vertical-align: bottom;
        line-height: 100%;

}

.ride-time-container{
    display:inline-flex;
    /*width:200px;*/
        margin:0;
        vertical-align: bottom;
        line-height: 100%;

}

.ride-passengers-container{
    display:inline-flex;
    /*width:200px;*/
        margin:0;
    vertical-align: bottom;

}

.ride-request-button-container{
    display:inline-flex;
    /*width:200px;*/
    margin:0;
    vertical-align: bottom;
    horizontal-align: right;
    line-height: 100%;
}

.flex-container {
  padding: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: table;
}

.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap-reverse         {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-item {
  /*background: tomato;*/
  /*padding: 5px;*/
  /*width: 100px;*/
  /*height: 100px;*/
  margin: 2%;
  /*line-height: 100px;*/
    vertical-align: bottom;
    display:inline-flex;
  /*font-weight: bold;*/
  /*font-size: 2em;*/
  /*text-align: center;*/
}



/*large button*/
.btn-xl{
    padding-top:20px;
    padding-bottom:20px;
    font-size: large;
}

.body{
    font-family: "Gotham SSm A", "Gotham SSm B", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.5rem;
}

.navbar-header{
    height: 70px;
}